.footer-c {
  background: rgba(255, 255, 255, 0.8);
  border-top: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
}

.footer-c div:not(.ft-text) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-c div:not(.ft-text) svg {
  width: 50px;
  height: 50px;
  margin: 0 1em;
}

.footer-c div:not(.ft-text) a {
  text-decoration: none;
}

.footer-c div:not(.ft-text) a:nth-child(1) {
  color: #0f8cb3;
}

.footer-c div:not(.ft-text) a:nth-child(2) {
  color: #6008c4;
}

.footer-c div:not(.ft-text) a:nth-child(3) {
  color: #da1616;
}

.footer-c div:not(.ft-text) a:nth-child(4) {
  color: #5abe09;
}

.footer-c div:not(.ft-text) a:hover {
  opacity: .8;
}

.footer-c div.ft-text {
  margin: 2em 0;
}

.footer-c div.ft-text h2 {
  text-align: center;
}

.footer-c ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.footer-c ul li {
  margin: .3em 1em;
}

.footer-c ul li a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.footer-c ul li a:hover {
  color: #006eff;
}

.footer-c p {
  font-weight: 400;
}

.footer-c p.red {
  color: #d41e1e;
}
